body {
  background-image: url(../img/dario-bronnimann-hNQwIirOseE-unsplash.jpg);
  background-size:  300% 100%;
  animation: changeColor 10s alternate infinite;
  color: aliceblue;
  font-weight: 700;
}

@keyframes changeColor {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

#mainForm {
  display: none;
}

#pizzaForm {
  display: none;
}

#pizzaForm2 {
  display: none;
}

#pizzaForm3 {
  display: none;
}

.s1 {
  display: none;
}

.s2 {
  display: none;
}

.s3 {
  display: none;
}

#carryOut {
  display: none;
}

#delivery {
  display: none;
}

#deliveryMessage {
  display: none;
}

#checkoutForm {
  display: none;
  margin-left: 20%;
  margin-right: 20%;
}

#price {
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  display: none;
}

#price button {
  padding: 10px;
  margin: 10px;
}

h1 {
  font-weight: 900;
}

#price h3 {
  font-weight: 900;
  border-bottom: solid rgb(60, 60, 60) 3px;
}

#qForm {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30px;
}

header {
  padding-top: 120px;
  padding-bottom: 70px;
  text-align: center;
}

header h1 {
  font-weight: 900;
  font-size: 600%;
  margin-top: 1px;
  padding-top: 1px;
}

header h2 {
  font-weight: 700;
  font-size: 300%;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.container-lg {
  background-image: url(../img/pizzacard2.png);
  background-size: 20%;
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 1px;
  padding-bottom: 400px;
}

.card {
  color: rgb(38, 38, 38);
  text-align: center;
  background-image: url(../img/sj-objio-XFWiZTa2Ub0-unsplash.jpg);
  background-size: cover;
  box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.8), 0 26px 40px 0 rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}